<p id="notice"><%= notice %></p>

<p>
  <b>Idapuesta:</b>
  <%= @apuestum.idapuesta %>
</p>

<p>
  <b>Idtipoapuesta:</b>
  <%= @apuestum.idtipoapuesta %>
</p>

<p>
  <b>Idcarrera:</b>
  <%= @apuestum.idcarrera %>
</p>

<p>
  <b>Montoapuesta:</b>
  <%= @apuestum.montoapuesta %>
</p>

<p>
  <b>Montopagado:</b>
  <%= @apuestum.montopagado %>
</p>


<%= link_to 'Edit', edit_apuestum_path(@apuestum) %> |
<%= link_to 'Back', apuesta_path %>
