<p id="notice"><%= notice %></p>

<p>
  <b>Idcarrera:</b>
  <%= @caballoxcarerra.idcarrera %>
</p>

<p>
  <b>Idcaballo:</b>
  <%= @caballoxcarerra.idcaballo %>
</p>

<p>
  <b>Puesto:</b>
  <%= @caballoxcarerra.puesto %>
</p>


<%= link_to 'Edit', edit_caballoxcarerra_path(@caballoxcarerra) %> |
<%= link_to 'Back', caballoxcarerras_path %>
