<p id="notice"><%= notice %></p>

<p>
  <b>Idapuesta:</b>
  <%= @detalleapuestum.idapuesta %>
</p>

<p>
  <b>Idcaballo:</b>
  <%= @detalleapuestum.idcaballo %>
</p>


<%= link_to 'Edit', edit_detalleapuestum_path(@detalleapuestum) %> |
<%= link_to 'Back', detalleapuesta_path %>
